.personal{
    margin-left:300px;
    font-size:10px;
}
.nickname{
    font-size:20px;
}
.change {
    font-size:10px;
    border:#555555 solid;
    color:#555555;
    background-color:white;
}

.edit{
    margin-left:10px;
    font-size:10px;
    border:#555555 solid;
    color:#555555;
    background-color:white;
}

.questionbar{
    margin-top:20px;
    width:800px;
    margin-left:300px;
    font-size:20px;
    height:auto;
    color:black;
    border:none;
}

.attachment{
    font-size:10px;
    margin-top:-10px;
}
.onequestion{
    height:50pxpx;
    margin-top:0px;
    border:solid;
    margin-top:20px;
}
p{
    margin-left:15px;
}

.content{
    font-size:15px;
    margin-left:40px;
    margin-top:-10px;
}
.pagetool{
    margin-top:20px;
    font-size:15px;
    text-align:center;
}

.actbar{
    margin-left:260px;
    margin-top:50px;
    height:30px;
    padding-top:9px;
    width:700px;
}
.actbar li{
    display:inline;
    margin-right:20px;
    border:solid #5555;
}
.actbar li:hover{
    color:white;
    background-color:#5555;
}

.answerbar{
    width:800px;
    margin-left:300px;
    font-size:20px;
    color:black;
    border:none;
}

.oneanswer{
    border:solid;
    height:auto;
    margin-top:20px;
}

.oneanswer .content{
    margin-top:10px;
}